#Rules file for Windsurf(just for debug)
.winsurfrules

#Environment file for credentials
.env

#Image files
images/accesory/
images/baby/
images/banner/
images/boy/
images/girl/
images/men/
images/women/