@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,300;1,75..100,300&display=swap");
:root {
  --primary-color: #ee4d2d;
  --secondary-color: #fe6233;
  --tertiary-color: #eda500;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #808080;
  --light-gray-color: #f0f0f0;
  --dark-gray-color: #333333;
  --font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #fef6f5;
}
.hidden {
  display: none;
}

/* catalogue styling starts */
h2 {
  text-align: center;
  text-transform: capitalize;
  margin: 1.5rem;
}

.catalogue {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 97vw;
}
.card {
  display: grid;
  grid-template-rows: 3fr 1fr;
  margin: 10% 10%;
  background-color: #fff;
  padding: 5px 5px;
  border-radius: 5px;
}
.card-img img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 5px;
}
.card-img img:hover {
  box-shadow: 0 0 20px 10px var(--primary-color);
}
.card-description {
  padding-top: 25px;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.card-description p {
  text-align: center;
  padding: 10px 0;
}
/* catalogue styling ends */

/* header section starts here */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.heading {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  background-color: #ee4d2d;
  padding: 0 2%;
  border-bottom: 2px solid gray;
}
.left-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.right-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.logo {
  height: inherit;
  padding-right: 1rem;
}
.logo img {
  height: 90%;
}
.login-status {
  display: flex;
  color: #fff;
}
.login-status * {
  padding-right: 1rem;
  margin: 0 10px;
}
.cart {
  color: #fff;
}
.search-form {
  display: flex;
}
input[type="search"],
input[type="submit"] {
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 3px;
}
input[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  border-color: #fff;
  font-weight: 700;
}
.navigation {
  background-color: #fe6233;
  height: 8vh;
}
.navigation ul {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: inherit;
  list-style: none;
}
.navigation ul li {
  padding: 0.5rem 2rem;
  margin-left: 5rem;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: capitalize;
  /* background-color: var(--primary-color); */
  border-radius: 1.5rem;
}
/* header section ends here */
/* main starts here */
main {
  min-height: 45vh;
  margin-top: 16vh;
}

/* inside main - banner section starts */
/* .swiper {
  width: auto;
  height: auto;
} */
.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  text-shadow: 2px 2px 3px var(--primary-color);
}
.swiper-slide * {
  margin-bottom: 0.8rem;
}
.swiper-slide button {
  background-color: var(--primary-color);
  font-size: 1.5rem;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
}
/* inside main - banner section ends */

/* overlay starts */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.8;
  z-index: 200;
}
.modal-container {
  position: fixed;
  top: 25%;
  left: 25%;
  /* right: 0; */
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  /* opacity: 0.4; */
  z-index: 300;
  border-radius: 7px;
}
.modal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px 20px;
}
.modal img {
  max-height: 47vh;
}
.modal-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1.5rem;
}
.modal-desc * {
  margin-bottom: 25px;
  border-bottom: solid 1px var(--primary-color);
  width: 100%;
  padding: 5px 0;
}
.modal-desc select {
  border: none;
  border-bottm: solid 1px var(--primary-color);
}
.add-to-cart {
  background-color: var(--primary-color);
  border: solid 1px var(--primary-color);
  padding: 10px 10px;
  cursor: pointer;
  box-shadow: 5px 5px 5px lightgray;
  border-radius: 5px;
  font-size: large;
}
.modal-desc: first-child {
  font-weight: 700;
}
/* overlay ends */
/* main ends here */
/* footer section starts here */
footer li {
  transition: all 1s ease-in-out;
}
footer li:hover {
  color: var(--primary-color);
  font-size: larger;
}
.social-share ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.social-share ul li {
  margin: 0.5% 1%;
}
.general-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fbfbfb;
  text-transform: capitalize;
  padding: 0 2%;
}
.general-info h3 {
  margin: 25px 0;
}
.general-info ul {
  list-style: none;
}
.general-info ul li {
  margin-bottom: 15px;
}
/* footer section ends here */

/* login and registration form styling */
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}

.login-form *,
.register-form * {
  margin-top: 5px;
  padding: 5px 3px;
  font-size: large;
}

.login-form input[type="submit"],
.register-form input[type="submit"] {
  width: 100%;
}
